<section class="wallet-connect-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-7">
                <!-- Intro -->
                <div class="intro text-center">
                    <span>G-ONE Apps</span>
                    <h3 class="mt-3 mb-0">Make it possible!</h3>
                    <p>IoT team created a platform to combine all the applications into one platform. So that Greatech's Employee would able to access all the applications through this platform.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center items">
            <div class="col-12 col-md-6 col-lg-4 item">
                <div class="card single-wallet">
                    <a class="d-block text-center" href="login">
                        <img class="avatar-lg" src="assets/img/app-logo/forum.png" alt="">
                        <h4 class="mb-0">Forum</h4>
                        <small>(Under Development)</small>
                        <p>Would like to discuss a topic? Discuss in our Greatech's new Forum platform!</p>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 item">
                <div class="card single-wallet">
                    <a class="d-block text-center" href="login">
                        <img class="avatar-lg" src="assets/img/app-logo/virtual_tour.png" alt="">
                        <h4 class="mb-0">360 Virtual Tour</h4>
                        <small>(Under Development)</small>
                        <p>Nowadays, Covid-19 cause a lot of inconvinience and virtual tour will help our new join to walk around Greatech using virtual tour!</p>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 item">
                <div class="card single-wallet">
                    <a class="d-block text-center" href="login">
                        <img class="avatar-lg" src="assets/img/app-logo/gdesk.png" alt="">
                        <h4 class="mb-0">G-Desk App</h4>
                        <small>(Under Development)</small>
                        <p>G-Desk, has the abilities to manage the Data using OpenLookeng data query engine, creating charst for data visualizations, etc..</p>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 item">
                <div class="card single-wallet">
                    <a class="d-block text-center" href="login">
                        <img class="avatar-lg" src="assets/img/app-logo/smart_mirror.png" alt="">
                        <h4 class="mb-0">Smart Mirror</h4>
                        <small>(Under Development)</small>
                        <p>Greatech only have one smart mirror. Would like to access our smart mirror's features? You can access it here!</p>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 item">
                <div class="card single-wallet">
                    <a class="d-block text-center" href="login">
                        <img class="avatar-lg" src="assets/img/app-logo/library_system.png" alt="">
                        <h4 class="mb-0">Library App</h4>
                        <small>(Under Development)</small>
                        <p>Love to read books during your free time! Borrow the book here!</p>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 item">
                <div class="card single-wallet">
                    <a class="d-block text-center" href="login">
                        <img class="avatar-lg" src="assets/img/app-logo/visitor_application.png" alt="">
                        <h4 class="mb-0">Visitor Application</h4>
                        <small></small>
                        <p>Want visitor to come into Greatech? You need to fill in this form!</p>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 item">
                <div class="card single-wallet">
                    <a class="d-block text-center" href="login">
                        <img class="avatar-lg" src="assets/img/app-logo/covid.png" alt="">
                        <h4 class="mb-0">Covid-19 App</h4>
                        <p>Covid-19 App, let the employee/vendor to check in their temperature. EHS team would also able to keep track on the Greatech's Employee temperature and the symtoms.</p>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 item">
                <div class="card single-wallet">
                    <a class="d-block text-center" href="login">
                        <img class="avatar-lg" src="assets/img/app-logo/covid_analysis.png" alt="">
                        <h4 class="mb-0">Covid Analysis</h4>
                        <small>(Under Development)</small>
                        <p>Covid Analysis is an App that can predict the future possibilities of infections.</p>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 item">
                <div class="card single-wallet">
                    <a class="d-block text-center" href="login">
                        <img class="avatar-lg" src="assets/img/app-logo/mecha_erp.png" alt="">
                        <h4 class="mb-0">Mechanical ERP</h4>
                        <p>An App that can assists the ERP team on mechanical ERP site.</p>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 item">
                <div class="card single-wallet">
                    <a class="d-block text-center" href="login">
                        <img class="avatar-lg" src="assets/img/app-logo/soft_erp.png" alt="">
                        <h4 class="mb-0">Software ERP</h4>
                        <small>(Under Development)</small>
                        <p>An App that can assists the ERP team on software ERP site.</p>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 item">
                <div class="card single-wallet">
                    <a class="d-block text-center" href="login">
                        <img class="avatar-lg" src="assets/img/app-logo/vision_erp.png" alt="">
                        <h4 class="mb-0">Vision ERP</h4>
                        <small>(Under Development)</small>
                        <p>An App that can assists the ERP team on vision ERP site.</p>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 item">
                <div class="card single-wallet">
                    <a class="d-block text-center" href="login">
                        <img class="avatar-lg" src="assets/img/app-logo/elec_erp.png" alt="">
                        <h4 class="mb-0">Electrical ERP</h4>
                        <small>(Under Development)</small>
                        <p>An App that can assists the ERP team on electrical ERP site.</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>